@font-face {
    font-family: "Avenir";
    src: url(../fonts/Avenir.ttc);
}

@font-face {
    font-family: "AvantBk";
    src: url(../fonts/ITCAvantGardePro-Bk.otf);
}

@font-face {
    font-family: "AvantMd";
    src: url(../fonts/ITCAvantGardePro-Md.otf);
}

@font-face {
    font-family: "AvantDemi";
    src: url(../fonts/ITCAvantGardePro-Demi.otf);
}

@font-face {
    font-family: "AvantBold";
    src: url(../fonts/ITCAvantGardePro-Bold.otf);
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ol,
ul {
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal !important;
}

/* HEADER STARTS */

img {
    max-width: 100%;
    height: auto;
    display: block;
}

#showcase {
    position: relative;
}

.heading-mobile {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.heading-text {
    padding: 1.8rem 1.5rem 4.5rem 1.5rem;
    position: relative;
    width: 100%;
    z-index: 200;
}

.gradient-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;
    opacity: 0.5;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 78.65%);
}

.heading-mobile h5 {
    font-size: 1.25rem;
    font-family: "AvantBold";
    font-weight: 700;
    line-height: 130%;
    color: #fff;
    margin-bottom: 1rem;
}

.heading-mobile a {
    font-family: "Avenir";
    font-size: 0.8rem;
    font-weight: 900;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

/* HEADER ENDS */


/* PRODUCT SECTION STARTS */

.active {
    border: 1px solid #000;
    padding: 2px;
}

.heading-desktop {
    display: none;
}

#products {
    margin-top: -2.5rem;
    position: relative;
    z-index: 300;
}

.product-card {
    font-family: "Avenir";
    line-height: 160%;
    font-size: 0.8rem;
}

.product-img {
    margin-bottom: 8px;
}

.product-card h5 {
    font-family: "Avenir";
    line-height: 160%;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.product-price {
    margin-bottom: 8px;
    font-weight: 600;
    display: inline-block;
}

.colors {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.list-picker {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list-picker li {
    margin-right: 6px;
}

.list-picker:not(.list-swatches--active-underline) input:checked+label {
    border: 0.1rem solid #000;
    box-shadow: inset 0 0 0 0.15rem #fff;
}

.list-picker label {
    font-size: 0;
    display: block;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow .4s ease-in-out, border .4s ease-in-out, opacity .4s ease-in-out;
}

/* PRODUCT SECTION ENDS */


@media screen and (min-width: 990px) {
    body {
        display: flex;
        align-items: center;
        height: 100vh;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
    }

    #showcase,
    #products {
        width: 50%;
        flex: 1
    }

    .heading-mobile {
        display: none;
    }

    .heading-desktop {
        display: block;
    }

    .heading-text {
        padding: 4rem 4.625rem 2.25rem 5.5rem;
        position: relative;
        width: 100%;
        z-index: 200;
    }

    .heading-desktop h5 {
        font-size: 1.953rem;
        font-family: "AvantBold";
        font-weight: 700;
        line-height: 130%;
        margin-bottom: 12px;
    }

    .heading-desktop p {
        font-size: 1rem;
        font-family: "Avenir";
        font-weight: 400;
        line-height: 160%;
        color: #666666;
        margin-bottom: 32px;
    }

    .heading-desktop a {
        font-size: 12.8px;
        font-family: "Avenir";
        font-weight: 900;
        text-decoration: none;
        color: #000;
        padding-bottom: 5px;
        border-bottom: 1px solid #000;
    }

    .splide__arrow {
        width: 2.5rem;
        height: 2.5rem;
        background: transparent;
        border-radius: 0;
        border: 1px solid rgba(0, 0, 0, 0.10);
        padding: 0.8rem;
    }

    .splide__arrow:disabled {
        display: none;
    }

    .product-price {
        margin-bottom: 0;
    }

    .product-card h5 {
        display: inline-block;
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

@media screen and (min-width: 1200px) {
    .heading-text {
        padding: 5rem 5.625rem 3.25rem 6.5rem;
    }
}

@media screen and (min-width: 1400px) {
    .heading-text {
        padding: 6rem 6.625rem 4.25rem 7.5rem;

    }
}